go 1.19

use (
	./nest_ca
	./nest_config
	./nest_service
)

replace github.com/m4rkdc/nebula_est/nest_config v0.0.0-20221117150508-8b339726ab70 => ./nest_config

replace github.com/m4rkdc/nebula_est/nest_service v0.0.0-20221117150508-8b339726ab70 => ./nest_service

replace github.com/m4rkdc/nebula_est/nest_ca v0.0.0-20221117150508-8b339726ab70 => ./nest_ca
